/* styles.css */
.label-red {
    -fx-text-fill: red;
}

.label-green {
    -fx-text-fill: green;
}

.label-blue {
    -fx-text-fill: blue;
}

.allShiftTabButtons{
    -fx-pref-width : 150px;
    -fx-pref-height : 40px;
    -fx-text-fill : black;
}
